html,
body {
  height: 100vh;
  max-height: 100vh;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d1321;
}
/* Header styling */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  color: white;
  width: 320px;
}
#logo {
  margin-left: 0;
  margin-right: auto;
}
#mode {
  display: flex;
  margin: auto;
}
#night,
#uk {
  margin-left: 2px;
  top: 2px;
  position: relative;
}
#lang {
  margin-left: auto;
  margin-right: 0;
}
/* Main Styling */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #3e5c76;
  height: 82%;
  justify-content: space-evenly;
  align-items: center;
}
div > span {
  color: white;
  text-align: center;
  display: block;
}
#startDateInputLabel,
#endDateInputLabel {
  position: static;
  background-image: url("img/start.png");
  background-size: contain;
  width: 150px;
  height: 120px;
}
#startDateDiv,
#endDateDiv {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 170px;
}
#inputForms {
  display: flex;
  justify-content: center;
}
#startDateInput,
#endDateInput {
  /* bottom: 66px;
  width: 85%;
  margin: 0 auto; */
  /* border: 2px solid #0d1321; */
  border: none;
  border-radius: 5px;
  outline: none;
  margin: auto;
  position: relative;
  left: 5px;
  transition: all 0.2s ease-in-out;
}
#startDateInput:focus {
  transform: scale(1.1) translate(0px, -60px);
}
#startDateInputLabel:hover,
#endDateInputLabel:hover {
  transform: scale(1.1);
}
/*  */
/* Footer styling */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 8%;
}
